.team_list {
  padding: 2vw 0 5vw;
  width: 100%;
}

.team_list li {
  width: 100%;
  background-color: #ef4648;
  padding: 5vw 4vw;
  text-decoration: none;
  font-size: 7vw;
  line-height: 1.2;
  border-radius: 3vw;
  color: #ffffff;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team_list_link {
}

.delete_btn {
  width: 6vw;
  height: 6vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.delete_btn img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 400px) {
  .team_list {
    padding: 8px 0 20px;
  }

  .team_list li {
    padding: 20px 16px;
    font-size: 28px;
    border-radius: 12px;
    margin-bottom: 8px;
  }


  .delete_btn {
    width: 24px;
    height: 24px;
  }
}