.playGame {
  text-decoration: none;
  display: block;
  width: 100%;
  background: #2ecc71;
  color: #ffffff;
  padding: 5vw 0;
  text-align: center;
  border: none;
  border-radius: 10px;
  line-height: 1.5;
  font-size: 5vw;
  outline: none;
  margin: 3vw auto 3vw;
  cursor: pointer;
}

.container {
  width: 100%;
  border-radius: 5vw;
  background: #ef4648;
  padding: 5vw 3vw;
  color: #ffffff;
  font-size: 5vw;
  line-height: 1.2;
  margin-top: 3vw;
}

.email_form_input_descr {
  width: 100%;
  text-align: center;
  margin-bottom: 3vw;
}

.email_form_small_input {
  border: none;
  border-radius: 3vw;
  color: #000000;
  font-size: 5vw;
  line-height: 1.2;
  width: 100%;
  padding: 3vw 2vw;
  margin-bottom: 1vw;
  outline: none;
}

@media only screen and (min-width: 400px) {
  .playGame {
    padding: 20px 0;
    border-radius: 10px;
    font-size: 20px;
    margin: 12px auto 12px;
  }

  .container {
    border-radius: 20px;
    padding: 20px 12px;
    font-size: 20px;
    margin-top: 12px;
  }

  .email_form_input_descr {
    margin-bottom: 12px;
  }

  .email_form_small_input {
    border-radius: 12px;
    font-size: 20px;
    padding: 12px 8px;
    margin-bottom: 4px;
  }
}
