.email_form {
  width: 100%;
  border-radius: 5vw;
  background: #ef4648;
  padding: 5vw 3vw;
  color: #ffffff;
  font-size: 5vw;
  line-height: 1.2;
  margin-top: 3vw;
}

.email_form_input_descr {
  width: 100%;
  text-align: center;
  margin-bottom: 3vw;
}

.email_form_small_input {
  border: none;
  border-radius: 3vw;
  color: #000000;
  font-size: 5vw;
  line-height: 1.2;
  width: 100%;
  padding: 3vw 2vw;
  margin-bottom: 1vw;
  outline: none;
}

.find_bnt {
  border: none;
  border-radius: 3vw;
  padding: 5vw 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #47b39d;
  font-size: 5.5vw;
  line-height: 1.2;
  margin-top: 7vw;
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  .email_form {
    border-radius: 20px;
    padding: 20px 12px;
    font-size: 20px;
    margin-top: 12px;
  }

  .email_form_input_descr {
    margin-bottom: 12px;
  }

  .email_form_small_input {
    border-radius: 12px;
    font-size: 20px;
    padding: 12px 8px;
    margin-bottom: 4px;
  }

  .find_bnt {
    border-radius: 12px;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 28px;
  }
}
