.email_form {
  width: 100%;
  border-radius: 5vw;
  background: #ef4648;
  padding: 5vw 3vw;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: 3vw;
}

.email_form_input_descr {
  width: 100%;
  text-align: center;
  margin-bottom: 3vw;
}

.email_form_small_input {
  border: none;
  border-radius: 3vw;
  color: #000000;
  font-size: 1.1rem;
  line-height: 1.2;
  width: 100%;
  padding: 3vw 2vw;
  margin-bottom: 1vw;
  outline: none;
}

.find_bnt {
  border: none;
  border-radius: 3vw;
  padding: 5vw 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #47b39d;
  font-size: 5.5vw;
  line-height: 1.2;
  margin-top: 7vw;
  outline: none;
}
