.teams_list_wr {
  padding: 3vw 3vw 33vw 3vw;
}

.email_form {
  width: 100%;
  border-radius: 5vw;
  background: #ef4648;
  padding: 5vw 3vw;
  color: #ffffff;
  font-size: 5vw;
  line-height: 1.2;
}

.email_form_input_descr {
  width: 100%;
  text-align: center;
  margin-bottom: 3vw;
}

.email_form_small_input {
  border: none;
  border-radius: 3vw;
  color: #000000;
  font-size: 5vw;
  line-height: 1.2;
  width: 100%;
  padding: 3vw 2vw;
  margin-bottom: 1vw;
  outline: none;
}

.email_form_small_input::placeholder {
  color: #000000;
  font-size: 5vw;
  line-height: 1.2;
  opacity: 0.5;
}

.email_form_input_label {
  font-size: 3.5vw;
  line-height: 1.2;
  opacity: 0.5;
}

.email_form_input {
  margin-top: 2vw;
}

.find_bnt,
.share_teleg {
  border: none;
  border-radius: 3vw;
  padding: 5vw 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #47b39d;
  font-size: 5.5vw;
  line-height: 1.2;
  margin-top: 7vw;
  outline: none;
  cursor: pointer;
}

.find_bnt{
  margin-bottom: 3vw;
}

.share_teleg {
  background-color: #0088cc;
  width: 100%;
  text-decoration: none;
  display: block;
}

@media only screen and (min-width: 400px){
  .teams_list_wr {
    padding: 12px 12px 132px 12px;
  }

  .email_form {
    border-radius: 20px;
    padding: 20px 12px;
    font-size: 20px;
  }

  .email_form_input_descr {
    margin-bottom: 12px;
  }

  .email_form_small_input {
    border-radius: 12px;
    font-size: 20px;
    padding: 12px 8px;
    margin-bottom: 4px;
  }

  .email_form_small_input::placeholder {
    font-size: 20px;
  }

  .email_form_input_label {
    font-size: 14px;
  }

  .email_form_input {
    margin-top: 8px;
  }

  .find_bnt,
  .share_teleg {
    border-radius: 12px;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 28px;
  }

  .find_bnt{
    margin-bottom: 12px;
  }
}
